.container-fluid {
    padding: 0px 0px !important;
}
.navbar{
    padding: 0px 20px !important;
}
#navbarSearch{
    display: flex;
    margin: 0px auto 0px auto;
}
.search {
    margin-left: 0.5rem;
}
h3 {
    margin-left: 10px;
}
.info {
    margin: auto 10px;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 1000px) {
    #navbarSearch{
        display: flex;
        margin: 0px auto 7px auto;
    }
    .navbar-brand{
        width: 100%;
        text-align: center;
        margin: 0px auto;
    }
}