.background {
    background-color: rgb(0,0,0,75);
    position: absolute !important;
    right: 0 !important;
    left: 0 !important;
}
.news {
    margin: 20px 50px 20px 50px;
    box-sizing: border-box;

}
.news img {
    box-sizing: border-box;
    width: inherit;
    height: 100vh !important;
}
.button {
    margin-bottom: 5px;
}
